[color]
	ui = auto
[color "branch"]
	current = white bold
	local = white
	remote = cyan
	plain = yellow
[color "diff"]
	plain = white
	meta = white bold
	frag = magenta bold
	func = yellow bold
	old = red
	new = green
	commit = yellow bold
	whitespace = red reverse
[color "status"]
	added = green
	changed = yellow
	untracked = cyan
	branch = white bold

[core]
	pager = 
	attributesfile = ~/.gitattributes
	excludesfile = ~/.cvsignore

[push]
	default = tracking

[status]
    showUntrackedFiles = all

[alias]
	wdiff = diff --color-words
	l = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold white)<%an>%Creset' --abbrev-commit --date=relative

[merge]
    ff=only
    conflictstyle=diff3

[giggle]
	main-window-maximized = true
	main-window-geometry = 1833x1152+0+0
	history-view-vpane-position = 793
	main-window-view = HistoryView
	file-view-vpane-position = 1023

[diff "pdf"]
	textconv = pdf2stdout.sh

[diff "docx"]
	textconv = docx2txt.sh

[include]
	path = .gitconfig.local
