# Only consider dotfiles, unless they end with .local or are
# backup files.
/*
!.*
.*.local
.*.bak
.*.orig

*.local

# Don't ignore my personal bin/ dir. I keep some scripts there
# that are referenced by my dotfiles
# Do ignore scripts that are not desirable everywhere or contain sensitive
# information
!bin/
bin/vpn_*

# Ignore this repo otherwise the universe might implode :)
.dotfiles.git/

# Don't consider the following files. They contain sensitive
# information or information that is only relevant locally.
.AbiSuite/
.FBReader/
.ICEauthority
.Private
.Skype/
.VirtualBox/
.Xauthority
.adobe/
.apport-ignore.xml
.audacity-data/
.bash_history
.cache/
.clay/

# unblock prefs/ ?
.cpan/
.cpanm/
.cups/
.dbus/
.dmrc
.dvdcss/
.ecryptfs
.esd_auth
.fehbg

.fluxbox/*
!.fluxbox/keys
!.fluxbox/overlay
!.fluxbox/startup

.fontconfig/
.fonts.conf
.fonts/
.gconf/
.gconfd/
.gegl-0.0/
.gimp-2.6/
.gitk
.googleearth/
.goutputstream-*
.gksu.lock
.gnome2/
.gnupg/
.gnuplot_history
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.ibam/
.icedtea/
.icedteaplugin/
.java/
.lesshst
.lftp/
.libreoffice/
.links2/
.local/
.macromedia/
.mission-control/
.mozilla/
.nv/
.nvidia-settings-rc
.openarena/
.opera/
.openvpn/

.pal/*
!.pal/pal.conf

.pam_environment
.perlbrew/
.pgadmin3
.pgpass
.phoronix-test-suite/
.pki/
.pulse/
.pulse-cookie
.purple/
.qt/
.remmina/
.rpmdb/
.sane/
.smbc/
.ssh/
.subversion/
.sudo_as_admin_successful
.synaptic/
.thumbnails/
.thunderbird/
.tsclient/

.vim/.netrwhist
.vim/backup/
.vim/undo/
.vim/swap/
.vim/views/
.viminfo

.virt-manager/
.wicd/
.wine/
.wmpiki
.wmWeatherReports/
.tilda/locks/
.xsession-errors*
.yarssr/
